/*  your css code here. If applicable */
 body{
	 fontfamily: Arial,sansserif;
	 backgroundcolour: #f4f4f4;
	 color: #333;
	 margin:0;
	 padding: 20px;
 }
h1{
	textalign: center;
	color: #4CAF0;
}
ul{
	list-style-type:name; /* Removes bullet points */
	padding: 0;
}
li {
	background: #fff;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	boxshadow: 0 2px px rgba(0, 0, 0, 0.1);
}
